#!/bin/sh

[[ -f ~/.Xresources ]] && xrdb -I$HOME ~/.Xresources
xwallpaper --zoom $(xrdb -g wallpaper)
sxhkd &	# Bind keys
# Switch to PT with Caps as Mod/Escape
setxkbmap -option caps:super -layout pt && killall xcape 2>/dev/null ; xcape -e 'Super_L=Escape' &
# Properties button extra Mod/Escape
xmodmap -e 'keycode 135 = Super_R' &
xset s off -dpms &	# Disable screen blanking
xset r rate 300 50 &	# Speed xrate up
unclutter &		# Remove mouse when idle
# compton &		# xcompmgr for transparency
dunst &			# dunst for notifications
mpdupdate &
mountclouds &
[ "$XDG_CURRENT_DESKTOP" = "KDE" ] || [ "$XDG_CURRENT_DESKTOP" = "GNOME" ] || export QT_QPA_PLATFORMTHEME="qt5ct"
